/*
 * Empty Stylesheet file.
 * /**********erstellt: Denis Bursillon********************************************
 * 
 */

.mainFxmlClass {
    -fx-font-family: "Comic Sans MS";
}
.root {
    -fx-background-color: #686868;   
}
.button {
    -fx-background-color: #888888;
}
.scroll-pane > .viewport{
/*    -fx-background-color: #458651;*/
    -fx-background-color: #686868;
}
#scroll-pane1 > .viewport{
    -fx-background-color: #685214;
}