/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
.root {
    -fx-background-color: #686868;   
}
.button {
    -fx-background-color: #888888;
}
.scroll-pane > .viewport{
    -fx-background-color: #ffffff;
}
#scroll-pane1 > .viewport{
    -fx-background-color: #548625;
}