/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-font-family: "Comic Sans MS";
}
.root {
    -fx-background-color: #686868;   
}
.button {
    -fx-background-color: #888888;
}
.scroll-pane > .viewport{
    -fx-background-color: #458651;
}
#scroll-pane1 > .viewport{
    -fx-background-color: #685214;
}